In [1]:
# Importar librer√≠as necesarias
import pandas as pd
import re
import os

In [2]:
# üìå Definir la ruta del archivo 2017
data_folder = "../data/raw/"  # Carpeta donde est√°n los CSV
file_ = "SRI_Vehiculos_Nuevos_2022.csv"
file_path = os.path.join(data_folder, file_)

In [3]:
# üìå Intentar leer el archivo con diferentes codificaciones
try:
    df_ = pd.read_csv(file_path, delimiter=';', encoding="latin-1", on_bad_lines='skip', low_memory=False)
except UnicodeDecodeError:
    df_ = pd.read_csv(file_path, delimiter=';', encoding="ISO-8859-1", on_bad_lines='skip', low_memory=False)

In [4]:
# üìå Mostrar las columnas disponibles en el dataset de 2017
print("üìå Columnas en el dataset de 2020:")
print(df_.columns)

üìå Columnas en el dataset de 2020:
Index(['CATEGOR√çA', 'C√ìDIGO DE VEH√çCULO', 'TIPO TRANSACCI√ìN', 'MARCA',
       'MODELO', 'PA√çS', 'A√ëO MODELO', 'CLASE', 'SUB CLASE', 'TIPO', 'AVAL√öO',
       'FECHA PROCESO (DD/MM/AA)', 'TIPO SERVICIO', 'CILINDRAJE',
       'TIPO COMBUSTIBLE', 'FECHA COMPRA (DD/MM/AA)', 'CANT√ìN', 'COLOR 1',
       'COLOR 2', 'PERSONA NATURAL - JUR√çDICA', 'Unnamed: 20'],
      dtype='object')

In [6]:
# üìå Renombrar columnas para que coincidan con el formato de 2024
column_mappings_ = {
    "MARCA": "marca",
    "MODELO": "modelo",
    "PAIS": "pais",
    "A√ëO MODELO": "year_modelo",
    "CLASE": "clase",
    "SUB CLASE": "sub_clase",
    "TIPO": "tipo",
    "AVAL√öO": "avaluo",
    "CILINDRAJE": "cilindraje",
    "TIPO COMBUSTIBLE": "tipo_combustible",
    "COLOR 1": "color",
}

df_.rename(columns=column_mappings_, inplace=True)

In [7]:
# üìå Seleccionar solo las columnas necesarias
columnas_necesarias = ['marca', 'modelo', 'pais', 'year_modelo', 'clase', 'sub_clase', 
                        'tipo', 'avaluo', 'cilindraje', 'tipo_combustible', 'color']

In [8]:
# üìå Filtrar las columnas que existen en el dataset
columnas_existentes = [col for col in columnas_necesarias if col in df_.columns]
df_ = df_[columnas_existentes].copy()

In [9]:
# üìå Eliminar duplicados basados en "modelo", "year", "avaluo", "cilindraje"
df_.drop_duplicates(subset=["modelo", "year_modelo", "avaluo", "cilindraje"], keep="first", inplace=True)

In [10]:
# üìå Guardar el dataset limpio
output_path = "../data/processed/SRI_Vehiculos_Nuevos_2022_Limpio.csv"
os.makedirs("../data/processed/", exist_ok=True)
df_.to_csv(output_path, index=False, sep=';')

In [11]:
# üìå Mostrar vista previa de los datos limpios
df_.head()

,marca,modelo,year_modelo,clase,sub_clase,tipo,avaluo,cilindraje,tipo_combustible,color
0,JEEP,COMPASS AC 2.4 5P 4X4 TM,2020,JEEP,JEEP,LIVIANO,"17795,42",2400,GASOLINA,NEG
1,MERCEDES BENZ,SPRINTER 315 CDI STANDARD TECHO ELEVADO AMBULA...,2023,ESPECIAL,AMBULANCIA,LIVIANO,"146399,36",2143,DIESEL,BLA
2,HINO,RM1ESSU-XSE 13.0 2P 4X2 TM DIESEL,2023,OMNIBUS,BUS,PESADO,201990,12913,DIESEL,PLA
6,KENWORTH,T370 AC 8.3 2P 4X2 TM DIESEL,2022,OMNIBUS,BUS COSTA,PESADO,"111606,78",8300,DIESEL,AMA
7,CHEVROLET,TRACKER AC 1.2 5P 4X2 TA,2021,JEEP,JEEP,LIVIANO,"41227,85",1200,GASOLINA,PLA