In [294]:
# ðŸ“Œ Importar librerÃ­as necesarias
import pandas as pd
import joblib
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

In [295]:
# ðŸ“Œ Definir ruta del dataset limpio
data_path = "../data/final/sri_autos_final.csv"
output_path = "../data/final/sri_autos_features.csv"

In [296]:
# ðŸ“Œ Cargar el dataset limpio
df = pd.read_csv(data_path, delimiter=';', encoding="latin-1", low_memory=False)

In [297]:
# ðŸ“Œ Aplicar Label Encoding en variables categÃ³ricas principales
label_columns = ["modelo", "marca", "pais", "clase", "sub_clase", "tipo","tipo_combustible"]
label_encoders = {}

In [298]:
for col in label_columns:
    encoder = LabelEncoder()
    df[col] = encoder.fit_transform(df[col].astype(str))  # Convertir a string antes de codificar
    label_encoders[col] = encoder  # Guardar el encoder

    # ðŸ“Œ Guardar el encoder en un archivo para reutilizar en la predicciÃ³n
    joblib.dump(encoder, f"../models/encoders/label_encoder_{col}.pkl")

print("âœ… Label Encoders guardados correctamente.")

âœ… Label Encoders guardados correctamente.

In [299]:
# ðŸ“Œ NormalizaciÃ³n de `avaluo` y `cilindraje` con Min-Max Scaling
#scaler = MinMaxScaler()
#df[["avaluo", "cilindraje"]] = scaler.fit_transform(df[["avaluo", "cilindraje"]])


# ðŸ“Œ Guardar el escalador para usarlo en la predicciÃ³n
#scaler_path = "../models/encoders/scaler.pkl"
#joblib.dump(scaler, scaler_path)

#print(f"âœ… Escalador guardado en {scaler_path}")

In [300]:
# ðŸ“Œ Guardar el dataset limpio

df.to_csv(output_path, index=False, sep=';')

In [301]:
# ðŸ“Œ Mostrar cantidad de columnas finales
print(f"âœ… NÃºmero final de columnas: {df.shape[1]}")

âœ… NÃºmero final de columnas: 10

In [302]:
# ðŸ“Œ Mostrar vista previa del dataset transformado
df.head()

,marca,modelo,pais,year_modelo,clase,sub_clase,tipo,avaluo,cilindraje,tipo_combustible
0,55,1634,11,2018,2,22,0,29990.0,2999,0
1,334,5704,18,2018,0,48,0,25990.0,1586,3
2,55,1657,11,2018,2,7,0,27470.0,2499,0
3,55,5631,11,2018,0,47,0,19490.0,1485,3
4,334,3045,11,2018,4,37,0,27990.0,1995,3